.list {
  display: flex;
  justify-content: center;

  padding: 0;
  margin: 0 0 25px;
  list-style: none;
}

.item:not(:last-child) {
  margin-right: 10px;
}

.button {
  width: 100px;
  height: 45px;

  border: none;
  border-radius: 15px;

  background-color: rgb(250, 196, 208);

  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
